#header {
    
    font-family: fantasy;
    text-align: center;
}


h1 {
    text-decoration: underline;
    color:red;
    
}


body{
    background-color: aliceblue
}


#image_principale {
   text-align: center;
    width: 100%;
}


#histoire {
    
    font-family: sans-serif;
    text-align: center;
}

h2{
    text-decoration: underline;
    color: cadetblue;
    
}
#header p{
    font-family: serif;
    color: blue;
    font-weight: bolder
}


#histoire video {
    text-align: center;
}

#équipe {
    font-family: sans-serif;
    text-align: center
}

#équipe ul{
    text-align: left
}
#lien1 {
    text-align: left
}
#lien2 {
    text-align: center;
    
}

#lien3 {
    text-align: right;
}

#lien1 a{
    color:#3b5998;
}


#lien2 a{
    color:#00aced;
}


#lien3 a{
    color:#8a3ab9;